h1 {
  text-align: center;
}
a {
  font-size: 32px;
  text-align: center;
}
section {
  width: 400px;
  box-shadow: 5px 5px 10px grey;
}

.section-center {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
}
