<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FCC: D3 Scatter Plot</title>
</head>

<body>
  <header>
    <h1 id="title">Doping in Professional Cycling</h1>
    <h2>35 fastest times up Alpe d'Huez</h2>
  </header>
  <div class="graph-container">

  </div>
</body>
<script src="scatter.js" type="module"></script>
<!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->

</html>