* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(21, 22, 22);
}

header {
  margin-top: 60px;
}

header * {
  text-align: center;
  color: white;
  padding: 5px;
}

#treemap {
  display: flex;
  justify-content: center;
}

.tile {
  stroke: black;
  fill: blue;
}

.label-container{
  color: white;
  padding: 4px;
}

.foreignObject {
  font: 9px sans-serif;
  text-overflow: ellipsis;
  text-align: left;
  word-wrap: break-word;
}

#legend {
  width: 500px;
}