*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  margin-top: 60px;
}

header *{
  text-align: center;
  padding: 5px;
}

#treemap {
  display: flex;
  justify-content: center;
}

.tile{
  stroke: black;
  fill: blue;
}

.cell-label{
  font-size: 11px;
  padding: 2px;
  fill: white;
  word-wrap: normal;
}